{extend name='common/treeTable'/}
{block name='title'}
商品分类管理
{/block}

{block name='js'}
<script>
    treetableConfig = {
        url: zconfig.createLink("domain.System/getAllMenu"),
        cols: [[
            { type: 'numbers' },
            { field: 'title', minWidth: 200, title: '权限名称' },
            { field: 'acl_value', width: 80, title: '权限标识' },
            { field: 'href', title: '访问操作' },
            // { field: 'orderNumber', width: 80, align: 'center', title: '排序号' },
            {
                field: 'type', width: 80, align: 'center', templet: function (d) {
                    if (d.type == -1) {
                        return '<span class="layui-badge layui-bg-blue">根目录</span>';
                    } else if (d.type == 0) {
                        return '<span class="layui-badge layui-bg-blue">目录</span>';
                    } else if (d.type == 1) {
                        return '<span class="layui-badge-rim">菜单</span>';
                    } else {
                        return '<span class="layui-badge layui-bg-gray">按钮</span>';
                    }
                }, title: '类型'
            },
            { templet: '#auth-state', width: 200, align: 'center', title: '操作' }
        ]],
    }

    addClickConfig = {
        title: '添加子项',
        page: zconfig.createPage('system/menuForm'),
    }

    editClickConfig = {
        title: '修改菜单',
        page: zconfig.createPage('system/menuForm'),
    }

    onDelete = (obj) => {
        layui.api.request("domain.Menu/delete", { id: obj.data.id }, res => {
            if (res) {
                tableReload();
            }
        })
    }
</script>
{/block}