{extend name='common/form'/}

{block name='form-item'}
<input type="hidden" name="id" class="layui-input">
<input type="hidden" name="pid" class="layui-input">
<div class="layui-form-item">
    <label class="layui-form-label required">菜单名称</label>
    <div class="layui-input-block">
        <input type="text" name="title" lay-verify="required" lay-reqtext="菜单名不能为空" placeholder="请输入菜单名称" value=""
            class="layui-input">
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label required">权限码</label>
    <div class="layui-input-block">
        <input type="text" name="acl_value" lay-verify="required" lay-reqtext="权限码不能为空" placeholder="请输入权限码" value=""
            class="layui-input">
    </div>
</div>
<div class="layui-form-item layui-form-text">
    <label class="layui-form-label">访问操作</label>
    <div class="layui-input-block">
        <textarea name="href" class="layui-input" placeholder="请输入访问操作路径"></textarea>
    </div>
</div>
{/block}

{block name='js'}
<script src="__JS__/system/menuForm.js"></script>
{/block}