{extend name='common/table'/}
{block name='title'}
角色管理
{/block}
{block name='search'}


<div class="layui-inline">
    <label class="layui-form-label">角色名称</label>
    <div class="layui-input-inline">
        <input type="text" name="role_name" autocomplete="off" class="layui-input">
    </div>
</div>
{/block}
{block name='toolbar'}
<button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
<!-- <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button> -->

{/block}
{block name='other-currentTableBar'}
<a class="layui-btn layui-btn-xs" lay-event="auth">授权</a>
{/block}
{block name='js'}
<script src="__JS__/system/role.js"></script>
{/block}