{extend name='common/form'/}

{block name='form-item'}
<input type="hidden" name="id" class="layui-input">
<div class="layui-form-item">
    <label class="layui-form-label required">账号名称</label>
    <div class="layui-input-block">
        <input type="text" name="name" lay-verify="required" lay-reqtext="账号名称不能为空" placeholder="请输入账号名称" value=""
            class="layui-input">
        <tip>填写自己管理账号的名称。</tip>
    </div>
</div>
<div class="layui-form-item">
    <label class="layui-form-label required">真实姓名</label>
    <div class="layui-input-block">
        <input type="text" name="real_name" lay-verify="required" lay-reqtext="真实姓名不能为空" placeholder="请输入真实姓名" value=""
            class="layui-input">

    </div>
</div>
<div class="layui-form-item layui-form-text">
    <label class="layui-form-label">备注信息</label>
    <div class="layui-input-block">
        <textarea name="remark" class="layui-textarea" placeholder="请输入备注信息"></textarea>
    </div>
</div>

<div class="layui-form-item">
    <label class="layui-form-label">拥有的角色</label>
    <div class="layui-input-block">
        <div id="roles"></div>
    </div>
</div>
{/block}
{block name='js'}
<script>
    requestUrl = 'domain.user/add';
    updateRequestUrl = 'domain.user/edit';
    layui.use(['xmSelect', 'api'], function () {
        let xmSelect = layui.xmSelect,
            api = layui.api;
        let rolesSelect = xmSelect.render({
            el: '#roles',
            name: 'roles',
            prop: {
                name: 'name',
                value: 'id',
            },
            data: [],
            initValue: [],//默认选中
        });

        api.request('domain.role/getList', {}, function (res) {
            if (res.data.list) {
                rolesSelect.update({ data: res.data.list });
            }
        });
    })
    loadFormDataPM = (param) => {
        return new Promise((resolve, reject) => {
            rolesSelect = layui.xmSelect.get('#roles');
            layui.api.request('domain.user/get', { id: param.id }, (res) => {
                if (res) {

                    rolesSelect[0].setValue(res.data.roles);
                    return resolve(res);
                }
            })
        })

    };


</script>
{/block}