<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品管理</title>
    <link rel="stylesheet" href="__STATIC__/layuimini/js/lay-module/dtree/dtree.css">
    <link rel="stylesheet" href="__STATIC__/layuimini/js/lay-module/dtree/font/dtreefont.css">
</head>
<style>
    .flex {
        display: flex;
    }

    .cate-box {
        width: 180px;
        height: 100vh;
        background-color: #fff;
        margin-right: 20px;
    }

    .table-box {
        width: 100%;
    }

    .box-title {
        display: block;
        width: 180px;
        text-align: center;
        font-size: 20px;
        margin: 10px;
    }
</style>

<body>
    <div class="flex">
        <div class="cate-box">
            <h3 class="box-title">商品分类</h3>
            <div id="cate-tree" class="dtree" data-id="0"></div>
        </div>
        <div class="table-box">
            <div class="layuimini-container">
                <div class="layuimini-main">
                    <h3 class="box-title">商品信息</h3>

                    <fieldset class="table-search-fieldset">
                        <legend>搜索信息</legend>
                        <div style="margin: 10px 10px 10px 10px">
                            <form class="layui-form layui-form-pane" action="">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">商品名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="goods_name" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-inline">
                                        <button id="searchBtn" type="submit" class="layui-btn layui-btn-primary"
                                            lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜
                                            索</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </fieldset>

                    <script type="text/html" id="toolbarDemo">
                        <div class="layui-btn-container">
                        
                            <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                            <!-- <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button> -->
                        </div>
                    </script>
                    <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
                    <script type="text/html" id="currentTableBar">
                        <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>

    {include file='common/config'/}

    <script src="__JS__/baseinfo/goods.js"></script>
</body>

</html>